@page "/admin/profile/changepassword"

@inject IHttpService _httpService
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager
@inject IJwtAuthenticationStateProvider _jwtAuthenticationStateProvider
@inject IStringLocalizer<GlobalStrings> _localizer
@inject IToastService _toastService
@inject IConfiguration _configuration

@layout AdminLayout

@attribute [Authorize(Roles = "SuperAdmin")]

<div class="py-2 p-md-3">
    <!-- Title + Filters-->
    <div class="d-sm-flex align-items-center justify-content-between pb-2">
        <h1 class="h3 mb-3 text-center text-sm-start">@_localizer["Change Password"]</h1>
    </div>

    @if (Layout.Account == null)
    {
        <Loading/>
    }
    else
    {
         <EditForm Model="_model" OnValidSubmit="ShowChangePassword">
        <FluentValidationValidator/>

        <div class="mb-3 align-items-center">
            <label class="form-label">@_localizer["Current Password"]</label>
            <div class="input-group mb-1">
                <i class="ai-lock position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <div class="password-toggle w-100">
                    <InputText class="form-control" type="password" maxlength="16" placeholder=@_localizer["Enter current password"] @bind-Value="@_model.CurrentPassword"/>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
            <ValidationMessage For="@(() => _model.CurrentPassword)"/>
        </div>

        <div class="mb-3 align-items-center">
            <label class="form-label">@_localizer["New Password"]</label>
            <div class="input-group mb-1">
                <i class="ai-lock position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <div class="password-toggle w-100">
                    <InputText class="form-control" type="password" maxlength="16" placeholder=@_localizer["Enter new password"] @bind-Value="@_model.NewPassword"/>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
            <ValidationMessage For="@(() => _model.NewPassword)"/>
        </div>

        <div class="mb-3 align-items-center">
            <label class="form-label">@_localizer["Confirm New Password"]</label>
            <div class="input-group mb-1">
                <i class="ai-lock position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <div class="password-toggle w-100">
                    <InputText class="form-control" type="password" placeholder=@_localizer["Repeat new password"] @bind-Value="@_model.ConfirmNewPassword"/>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
            <ValidationMessage For="@(() => _model.ConfirmNewPassword)"/>
        </div>

        @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <ErrorMessage Message="@_errorMessage"></ErrorMessage>
        }

        <div class="d-flex justify-content-end w-100 mt-sm-4">
            <div>
                <button type="button" class="btn btn-secondary px-4 me-2" @onclick="@(() => _navigationManager.NavigateTo("admin/profile"))">@_localizer["Cancel"]</button>
                <ButtonRE IsBusy="_isBusy" class="btn btn-primary px-4" type="submit">@_localizer["Save"]</ButtonRE>
            </div>
        </div>
    </EditForm>
    }

</div>

<AdminLayoutSetter>
    <ModalSection>
        <Modal @ref="_confirmChangePassword" ContentBtnAppearance="btn-danger" CloseText="@_localizer["No"]" OkText="@_localizer["Yes"]" OnOk="@Submit" AutoHide="true">
            <h5 class="text-danger">@_localizer["Are you sure you want to change the current password?"]</h5>
            <div class="mt-2">
                @(($"{_localizer["The session will be closed after changing the password"]}."))
            </div>
        </Modal>
    </ModalSection>
</AdminLayoutSetter>

@code {

    [CascadingParameter]
    public AdminLayout Layout { get; set; }
    
    private AdminAccountChangePasswordModel _model = new();
    
    private Modal _confirmChangePassword;

    private bool _isBusy;
    private string _errorMessage;

    private async Task Submit()
    {
        await _confirmChangePassword.Hide();
        
        _errorMessage = null;

        _isBusy = true;
        var response = await _httpService.PutAsync($"admin/v1/account/changepassword", _model);
        _isBusy = false;

        if (response.Success)
        {
            _toastService.Show(body: _localizer["The current account password has been edited successfully"], type: ToastType.Success);
            await _jwtAuthenticationStateProvider.LogoutAsync();
            _navigationManager.NavigateTo("login");
        }
        else
        {
            _errorMessage = response.Error.ToString();
        }
    }
    
    private async Task ShowChangePassword()
    {
        await _confirmChangePassword.Show();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("initPasswordVisibilityToggle");
    }

}